/* venta_inventario_app/frontend/src/App.css */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-layout {
  display: flex;
  flex-grow: 1;
  /* Transición para que el cambio de ancho del contenido sea suave al colapsar el sidebar */
  transition: margin-left 0.3s ease;
}

/* En pantallas pequeñas, el sidebar estará colapsado y no empujará el contenido principal con margen */
/* El contenido principal debe ocupar todo el ancho disponible */
.main-layout.sidebar-collapsed .main-and-footer-container {
  margin-left: 0; /* Asegura que no haya margen del sidebar colapsado empujando el contenido */
}


.main-and-footer-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Permite que este contenedor ocupe el espacio restante */
}

.main-content-private {
  flex-grow: 1; /* Permite que el contenido principal se expanda */
  padding: 2rem; /* Espaciado interno para el contenido de las páginas */
  overflow-y: auto; /* Permite scroll si el contenido es muy largo */
  max-width: 100%; /* Asegura que ocupe todo el ancho disponible de su contenedor */
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

.main-content-public {
  flex-grow: 1;
  padding: 0; /* La LandingPage maneja su propio padding */
}

/* Media Query para pantallas muy pequeñas (ej. móviles) */
@media (max-width: 768px) {
  .main-content-private {
    padding: 1rem; /* Menor padding en móviles para maximizar el espacio */
  }

  /* Asegurarse de que el main-and-footer-container ocupe todo el ancho cuando el sidebar está colapsado */
  .main-layout.sidebar-collapsed .main-and-footer-container {
    width: 100%;
  }
}
